@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
    background-color: rgb(219, 173, 106);
    padding-bottom: 2.5rem;
    border-bottom: 2px solid white;
}

.nav-link {
    color: #ffffff !important;
    transition: color 0.3s ease;
    font-family: 'Roboto', monospace;
}

.nav-link:hover {
    color: rgba(255,255,255, 0.6) !important;
}

.nav-link.disabled {
    color: #6c757d !important;
    cursor: not-allowed;
}

.navbar-toggler {
    border: 2px solid white !important;
    padding: 0.5rem;
    background-color: transparent;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    width: 1.5em;
    height: 1.5em;
}

.navbar-toggler:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.nav-item {
    font-family: 'Roboto', monospace !important;
    font-weight: 700 !important;
    padding-right: 4px;
    margin-right: 10px;
}